html {
    background-color: burlywood;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body {
    background-color: green;
    align-items: center;
    width: 65%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body h1 {
    font-size: 50px;
    font-style: italic;
}

body a {
    font-size: 70px;
}