<!DOCTYPE html>
<html lang="en">

<head>
    <title>Top Songs for Random Arists!!!</title>
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <h1> Song Name: {{songname}}</h1>
    <h1>Popularity (out of 100%) : {{popularity}}</h1>
    <a href={{spotlink}}>Click for the Spotify link!!!</a>
    <h1>Release Date : {{releasedate}}</h1>
    <img src={{imageurl}} width={{imagewidth}} height={{imageheight}} />
    <a href={{genlink}}>Click for the Genius lyrics!!!</a>

</body>

</html>